html {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-size: 16px;
  font-style: normal;
  box-sizing: border-box;
}
header {
  display: none;
  position:fixed;
}
body {
  background: linear-gradient(110deg, rgb(7 71 15 / 94%), rgba(255,0,0,0) 70.71%), 
  linear-gradient(317deg, rgb(235 158 22 / 96%), rgba(0,255,0,0) 70.71%),
  linear-gradient(293deg, rgb(151 96 5 / 94%), rgba(0,0,255,0) 70.71%);
}

.nav {
  width: 100%;
  overflow:hidden;
  position:fixed;
  top: 10px;
  left: 0px;
}

.nav img {
  place-self: center start;
  height: 60px;
  width: 70px;
}

.nav li {
  margin: 0.8rem;
  color: red;
  list-style:none;
}

.nav a {
  color: goldenrod;
}

.main-nav {
  box-sizing: inherit;
  width: auto;
  margin: 0;
  list-style:none;
  background-color: rgb(10 57 16 / 94%);
  opacity: .8;
}
.main.row.justify-center {
  width: auto;
  border: solid 1px;
  padding-top: 100px;
}

p {
  width: 320px;
  height: 50px;
  border-color: black ; 
}

